@model AddressBook.Contact

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <table>
        <h4>Contact</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>*@


        @*<div class="form-group">
                <div class=" control-label col-md-2" style="">
                    <label style="height:8px">Belongs To User</label>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("UserId")
                    @Html.ValidationMessageFor(model => model.UserId)
                </div>
            </div>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>

        <tr>
            <td>
                <label style="height:8px">Belongs To User</label>
            </td>
            <td width="50px">
                @Html.DropDownList("UserId")
                @Html.ValidationMessageFor(model => model.UserId)
            </td>
        </tr>
</table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
   
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
